body {
	background-image: url("../images/congruent_pentagon.png");
}

h1 {
	margin: 10px;
	width: 450px;
	line-height: 2;
	background-color: gold;
	text-align: center;
	color: white;
	font-size: 30px;
}

#rules {
	margin-left: 10px;
}

#rules p {
	width: 450px;
	padding: 5px 0px;
	background-color: lightseagreen;
}

#randomNumber {
	float: left;
	margin: 10px 25px 10px 10px;
	height: 100px;
	width: 200px;
	text-align: center;
	background-color: aquamarine;
}

#wins {
	float: left;
	margin: 10px;
	height: 100px;
	width: 200px;
	background-color: royalblue;
}

#crystals {
	clear: both;
	margin: 10px;
}

#crystals img {
	margin-right: 10px;
}

#totalPoints {
	margin: 10px;
	height: 100px;
	width: 200px;
	text-align: center;
	background-color: aquamarine;
}

